<table class="table">
  <thead>
    <tr>
      <th>Api</th>
      <th>Url</th>
      <th>Port</th>
      <th>Token</th>
      <th>Bucket</th>
    </tr>
  </thead>

  <tbody>
     <tr>
      <td><%= @cloud.api %></td>
      <td><%= @cloud.url %></td>
      <td><%= @cloud.port %></td>
      <td><%= @cloud.token %></td>
      <td><%= @cloud.bucket %></td>
    </tr>
  </tbody>
</table>