<div class="panel panel-primary">
  <div class="panel-heading">Uploading from client</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Api</th>
          <th>Url</th>
          <th>Port</th>
          <th>Token</th>
          <th>Bucket</th>
        </tr>
      </thead>

      <tbody>
         <tr>
          <td><%= @cloud.api %></td>
          <td><%= @cloud.url %></td>
          <td><%= @cloud.port %></td>
          <td><%= @cloud.token %></td>
          <td><%= @cloud.bucket %></td>
        </tr>
      </tbody>
    </table>
    <%= form_tag url_for(:action => 'execute_multipart_upload', :id => @cloud.id), :multipart => "true" do %>
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">File</span>
          <%= file_field_tag "file", :onchange => "check_file_size(this.files[0].size);", :class => "form-control" %>
        </div>
      </div>
      <br />
      <div class="field">
        <div class="input-group">
          <span class="input-group-addon">Number of threads</span>
          <%= text_field_tag :threads, nil, :placeholder => "Must be at least 2. Each part will be 5MB, so less threads can be used", :class => "form-control" %>
        </div>
      </div>
      <br />
      <div class="actions">
        <%= submit_tag "Upload file", :id => "submit_button", :style => "display:none;", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "Back", @cloud, :class => "btn btn-default" %>
<script type="text/javascript">
  function check_file_size(size) {
    if(size > 5 * 1024 * 1024) {
      $("#submit_button").show();
    }
    else {
      window.alert("Multipart upload is supported only for files bigger than 5 MB");
    }
  }
</script>
